main{
    align-content: center;
     text-align: center; 
    
    background-color: blueviolet;
    width: 320px;
    height: 200px;
}
input{
border-color: black;
border-radius: 5px;
width:40px ;
height: 35px;
}
button{
    border-color: black;
    border-radius: 5px;
    height: 40px;
    color: blueviolet;
   
}
h1{
    text-decoration: underline;
}


